body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laptop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.laptop-laptop {
  width: 100%;
  height: 6698px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgba(255, 255, 255, 1);
}
.laptop-rectangle297 {
  width: 1615px;
  height: 3298px;
}
.laptop-rectangle292 {
  top: 1932px;
  left: 0px;
  width: 1447px;
  height: 603px;
  position: absolute;
}
.laptop-rectangle291 {
  top: 0px;
  left: 0px;
  width: 1199px;
  height: 985px;
  position: absolute;
}
.laptop-rectangle290 {
  top: 985px;
  left: 0px;
  width: 1512px;
  height: 946px;
  position: absolute;
}
.laptop-text {
  top: 2025px;
  left: 433px;
  color: rgba(9, 8, 8, 1);
  width: 654px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text001 {
  color: var(--dl-color-default-black);
}
.laptop-text002 {
  color: var(--dl-color-default-mainorange);
}
.laptop-ellipse19 {
  top: 2110px;
  left: 1866px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.laptop-frame184 {
  gap: 3px;
  top: 198px;
  left: 102px;
  width: 1310px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.laptop-frame176 {
  gap: 23px;
  width: 666px;
  height: 707px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.laptop-frame160 {
  gap: 24px;
  top: 63px;
  left: 0px;
  width: 666px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.laptop-frame12 {
  gap: 24px;
  width: 666px;
  height: 374px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.laptop-text004 {
  color: rgba(255, 150, 83, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text005 {
  color: var(--dl-color-default-mainorange);
}
.laptop-text007 {
  top: 31px;
  left: -71px;
  color: rgba(9, 8, 8, 1);
  width: 646px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text008 {
  color: var(--dl-color-default-black);
}
.laptop-text010 {
  top: 293px;
  color: var(--dl-color-default-black);
  width: 483px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame159 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.laptop-learn-more {
  gap: 24px;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  justify-content: center;
}
.laptop-frame11 {
  gap: 8px;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  border-color: rgba(255, 150, 83, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
}
.laptop-text012 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-hire-us {
  gap: 8px;
  width: 163px;
  height: 54px;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 150, 83, 1);
}
.laptop-text014 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-landingpageimage1 {
  width: 641px;
  height: 707px;
}
.laptop-frame207 {
  gap: 48px;
  top: 1012px;
  left: 100px;
  width: 1312px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.laptop-frame185 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-group29 {
  width: 1196px;
  height: 21px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-text016 {
  left: 539.517578125px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-line4 {
  top: 10.5px;
  left: 688.517578125px;
  width: 507px;
  height: 1px;
  position: absolute;
}
.laptop-line12 {
  top: 12.052734375px;
  left: 0px;
  width: 507px;
  height: 1px;
  position: absolute;
}
.laptop-enabling-brandsto-growby-levraging-innovative-i-solutio {
  width: 961px;
  height: 37px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-enabling-brandsto-growby-levraging-innovative-i-solutio1 {
  top: 0px;
  left: 0px;
  width: 961px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-text018 {
  color: var(--dl-color-default-black);
  width: 961px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame186 {
  gap: 83px;
  display: flex;
  align-items: center;
}
.laptop-digital-transformation {
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-group26 {
  top: 0px;
  left: 0px;
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-text020 {
  top: 198.890625px;
  left: 76px;
  color: rgba(9, 8, 8, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text022 {
  top: 280px;
  left: 21px;
  color: rgba(9, 8, 8, 0.7200000286102295);
  width: 355px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-image57serverlineal4 {
  top: 36px;
  left: 116px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.laptop-legal-advise {
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-group27 {
  top: 0px;
  left: 0px;
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-image1021ruleslineal4 {
  top: 35.890625px;
  left: 116px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.laptop-text045 {
  top: 192.890625px;
  left: 122px;
  color: var(--dl-color-default-black);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text047 {
  top: 274.890625px;
  left: 21px;
  color: rgba(9, 8, 8, 0.7200000286102295);
  width: 355px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-business-strategies {
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-group28 {
  top: 0px;
  left: 0px;
  width: 382px;
  height: 684.78076171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-text070 {
  top: 267.890625px;
  left: 21px;
  color: rgba(9, 8, 8, 0.7200000286102295);
  width: 355px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text093 {
  top: 185.890625px;
  left: 94px;
  color: var(--dl-color-default-black);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-image134targetlineal1 {
  top: 26px;
  left: 116px;
  width: 150px;
  height: 150px;
  position: absolute;
}
.laptop-com {
  top: 2110px;
  left: 57px;
  width: 1398px;
  height: 312px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-companies {
  top: 0px;
  left: 63px;
  width: 1294px;
  height: 312px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-group31 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 302px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse24 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.laptop-image1 {
  top: 2px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 162px;
}
.laptop-group30 {
  top: 2px;
  left: 328px;
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse23 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(229, 22, 53, 1);
  border-style: solid;
  border-width: 2px;
}
.laptop-image2 {
  top: 40px;
  left: 26px;
  width: 249px;
  height: 220px;
  position: absolute;
}
.laptop-group32 {
  top: 2px;
  left: 650px;
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-image3 {
  top: 74px;
  left: 39px;
  width: 217px;
  height: 152px;
  position: absolute;
}
.laptop-ellipse25 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.laptop-group33 {
  top: 2px;
  left: 972px;
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-image31 {
  top: 74px;
  left: 39px;
  width: 217px;
  height: 152px;
  position: absolute;
}
.laptop-ellipse251 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.laptop-group34 {
  top: 2px;
  left: 1294px;
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse231 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(229, 22, 53, 1);
  border-style: solid;
  border-width: 2px;
}
.laptop-image21 {
  top: 40px;
  left: 26px;
  width: 249px;
  height: 220px;
  position: absolute;
}
.laptop-group311 {
  top: 10px;
  left: 1616px;
  width: 300px;
  height: 302px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse241 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.laptop-image11 {
  top: 2px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 162px;
}
.laptop-group331 {
  top: 10px;
  left: 1938px;
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse232 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(229, 22, 53, 1);
  border-style: solid;
  border-width: 2px;
}
.laptop-image22 {
  top: 40px;
  left: 26px;
  width: 249px;
  height: 220px;
  position: absolute;
}
.laptop-group36 {
  top: 103px;
  left: 1291px;
  width: 107px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse27 {
  top: 0px;
  left: 0px;
  width: 107px;
  height: 107px;
  display: none;
  position: absolute;
  transition: 0.3s;
}

.laptop-dashiconsarrowupalt2 {
  top: 33px;
  left: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: 0.3s;
}

.laptop-dashiconsarrowupalt2:active {
  left: 0px;
  position: static;
}
.laptop-frame190 {
  gap: 92px;
  top: 2596px;
  left: 107px;
  width: 1237px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.laptop-frame189 {
  gap: 70px;
  display: flex;
  align-items: flex-start;
}
.laptop-image4 {
  width: 520px;
  height: 646px;
}
.laptop-frame165 {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text095 {
  color: rgba(9, 8, 8, 1);
  width: 647px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text096 {
  color: var(--dl-color-default-black);
}
.laptop-frame150 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-frame148 {
  gap: 21px;
  width: 478px;
  height: 136px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-ellipse6 {
  width: 10px;
  height: 10px;
}
.laptop-text098 {
  color: rgba(9, 8, 8, 0.6200000047683716);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame1501 {
  gap: 21px;
  width: 478px;
  height: 136px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-ellipse61 {
  width: 10px;
  height: 10px;
}
.laptop-text103 {
  color: rgba(9, 8, 8, 0.6200000047683716);
  width: 447px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame147 {
  gap: 21px;
  width: 478px;
  height: 136px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-ellipse11 {
  width: 10px;
  height: 10px;
}
.laptop-text105 {
  color: rgba(9, 8, 8, 0.6200000047683716);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame149 {
  gap: 21px;
  width: 478px;
  height: 68px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-ellipse12 {
  width: 10px;
  height: 10px;
}
.laptop-text110 {
  color: rgba(9, 8, 8, 0.6200000047683716);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-hire-us1 {
  gap: 8px;
  width: 163px;
  height: 54px;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-mainorange);
}
.laptop-text112 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame196 {
  gap: 48px;
  top: 5127px;
  left: 104px;
  width: 1308px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.laptop-frame174 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-frame139 {
  gap: 44px;
  height: 19px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-line3 {
  width: 507px;
  height: 1px;
}
.laptop-text114 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-line41 {
  width: 507px;
  height: 1px;
}
.laptop-text116 {
  color: rgba(9, 8, 8, 1);
  width: 595px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text117 {
  color: var(--dl-color-default-black);
}
.laptop-text118 {
  color: var(--dl-color-default-mainorange);
}
.laptop-component2 {
  width: 1308px;
  height: 410px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-group38 {
  top: 1px;
  left: 0px;
  width: 636px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-text120 {
  top: 48px;
  left: 195px;
  color: var(--dl-color-default-mainorange);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text121 {
  top: 276px;
  left: 488px;
  color: var(--dl-color-default-mainorange);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-ellipse32 {
  top: 33px;
  left: 39px;
  width: 140px;
  height: 140px;
  position: absolute;
}
.laptop-text122 {
  top: 232px;
  left: 39px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text124 {
  top: 203px;
  left: 39px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text126 {
  top: 103px;
  left: 243px;
  color: var(--dl-color-default-black);
  width: 380px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-group39 {
  top: 1px;
  left: 669px;
  width: 636px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-text147 {
  top: 48px;
  left: 195px;
  color: var(--dl-color-default-mainorange);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text148 {
  top: 185px;
  left: 540px;
  color: var(--dl-color-default-mainorange);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-ellipse33 {
  top: 33px;
  left: 39px;
  width: 140px;
  height: 140px;
  position: absolute;
}
.laptop-text149 {
  top: 232px;
  left: 40px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text154 {
  top: 203px;
  left: 40px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text156 {
  top: 103px;
  left: 243px;
  color: var(--dl-color-default-black);
  width: 380px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-group40 {
  top: 0px;
  left: 1342px;
  width: 636px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-text169 {
  top: 48px;
  left: 195px;
  color: var(--dl-color-default-mainorange);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text170 {
  top: 238px;
  left: 592px;
  color: var(--dl-color-default-mainorange);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-ellipse34 {
  top: 33px;
  left: 39px;
  width: 140px;
  height: 140px;
  position: absolute;
}
.laptop-text171 {
  top: 203px;
  left: 39px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text173 {
  top: 232px;
  left: 39px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text175 {
  top: 103px;
  left: 243px;
  color: var(--dl-color-default-black);
  width: 380px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-group42 {
  top: 3px;
  left: 2019px;
  width: 636px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-group41 {
  top: 33px;
  left: 39px;
  width: 584px;
  height: 262px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-text192 {
  top: 15px;
  left: 156px;
  color: var(--dl-color-default-mainorange);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text193 {
  top: 202px;
  left: 499px;
  color: var(--dl-color-default-mainorange);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-ellipse35 {
  top: 0px;
  left: 0px;
  width: 140px;
  height: 140px;
  position: absolute;
}
.laptop-text194 {
  top: 170px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text196 {
  top: 199px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text198 {
  top: 70px;
  left: 204px;
  color: var(--dl-color-default-black);
  width: 380px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame206 {
  gap: 92px;
  top: 3552px;
  left: 102px;
  width: 1311px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.laptop-frame205 {
  gap: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-frame169 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-frame164 {
  gap: 44px;
  display: flex;
  align-items: center;
}
.laptop-line31 {
  width: 507px;
  height: 1px;
}
.laptop-text213 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-line42 {
  width: 507px;
  height: 1px;
}
.laptop-text215 {
  color: rgba(9, 8, 8, 1);
  width: 1094px;
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text216 {
  color: var(--dl-color-default-black);
}
.laptop-frame204 {
  gap: 43px;
  display: flex;
  align-items: flex-start;
}
.laptop-frame202 {
  gap: 10px;
  display: flex;
  padding: 48px 49px;
  align-items: flex-start;
  border-color: rgba(255, 150, 83, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-frame199 {
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-frame198 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-image981consultationlineal1 {
  width: 150px;
  height: 150px;
}
.laptop-text218 {
  color: rgba(9, 8, 8, 1);
  width: 230px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text220 {
  color: var(--dl-color-default-black);
  width: 537px;
  height: auto;
  font-size: 23.709999084472656px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame44 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.laptop-frame203 {
  gap: 10px;
  display: flex;
  padding: 48px 30px;
  align-items: flex-start;
  border-color: rgba(255, 150, 83, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(255, 255, 255, 1);
}
.laptop-frame201 {
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-frame200 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.laptop-image478computerdisplaylineal1 {
  width: 150px;
  height: 150px;
}
.laptop-text271 {
  color: rgba(9, 8, 8, 1);
  width: 230px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text273 {
  color: var(--dl-color-default-black);
  width: 573px;
  height: auto;
  font-size: 23.709999084472656px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame152 {
  gap: 8px;
  width: 223px;
  height: 65px;
  display: flex;
  padding: 74px 11px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-mainorange);
}
.laptop-text320 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-component5 {
  top: 5710px;
  left: 0px;
  width: 1512px;
  height: 988px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-rectangle9 {
  top: 0px;
  left: 0px;
  width: 1447px;
  height: 988px;
  position: absolute;
}
.laptop-frame197 {
  gap: 64px;
  top: 151px;
  left: 319.5px;
  width: 895px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.laptop-text322 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-group47 {
  width: 895px;
  height: 132px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-group46 {
  top: 0px;
  left: 0px;
  width: 895px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-inputfielddesktop {
  top: 0px;
  left: 0px;
  width: 895px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.laptop-rectangle10 {
  width: 895px;
  height: 90px;
  border-radius: 7px;
}
.laptop-sign-up {
  gap: 10px;
  top: 69px;
  left: 712.37109375px;
  display: flex;
  padding: 20px 41px;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(255, 150, 83, 1);
}
.laptop-text324 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text326 {
  color: rgba(9, 8, 8, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame31 {
  gap: 65px;
  top: 462.5px;
  left: 507px;
  width: 810px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.laptop-frame27 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text328 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame26 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text330 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text332 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text334 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text336 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame28 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text338 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame261 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text340 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text342 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text344 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text346 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text348 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame311 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text350 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame262 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text352 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text354 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text356 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text358 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame30 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text360 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text362 {
  top: 783px;
  left: 100px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame122 {
  top: 426px;
  left: 100px;
  width: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-image64873271 {
  top: 0px;
  left: -73px;
  width: 274px;
  height: 173px;
  position: absolute;
}
.laptop-frame163 {
  gap: 12px;
  top: 576px;
  left: 100px;
  width: 269px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-text364 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text366 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame113 {
  gap: 21.233644485473633px;
  top: 911px;
  left: 107px;
  width: 142px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.laptop-simpleiconsgmail {
  width: 33px;
  height: 33px;
}
.laptop-akariconslinkedinboxfill {
  width: 33px;
  height: 33px;
}
.laptop-akariconstwitterfill {
  width: 33px;
  height: 33px;
}
.laptop-group9 {
  top: 923px;
  left: 563px;
  width: 385px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-text375 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text377 {
  left: 98px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-phcopyright {
  top: 0px;
  left: 73px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.laptop-group64 {
  top: 822px;
  left: 100px;
  width: 226px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-text379 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-text381 {
  left: 70px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-group10 {
  top: 844px;
  left: 1288px;
  width: 110.79000091552734px;
  height: 110.79122924804688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.laptop-ellipse18 {
  top: 0px;
  left: 0px;
  width: 111px;
  height: 111px;
  position: absolute;
}
.laptop-ricustomerservice2fill {
  top: 27.082305908203125px;
  left: 27.451171875px;
  width: 59px;
  height: 59px;
  position: absolute;
}
.laptop-group25 {
  top: -30px;
  left: 0px;
  width: 1512px;
  height: 173.1521759033203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-rectangle286 {
  top: 31px;
  left: 0px;
  width: 1512px;
  height: 112px;
  position: absolute;
}
.laptop-navigationbar {
  gap: 8px;
  top: 31px;
  left: 0px;
  width: 1512px;
  height: 112px;
  display: flex;
  padding: 24px 100px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-frame4 {
  gap: 100px;
  top: 24px;
  left: 100px;
  width: 1312px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.laptop-contact-us {
  gap: 8px;
  top: 16px;
  left: 1150.5px;
  width: 163px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(255, 150, 83, 1);
}
.laptop-text383 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame3 {
  gap: 48px;
  top: 15px;
  left: 429.5px;
  width: 511px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
}
.laptop-frame5 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.laptop-home {
  width: 54px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-text385 {
  color: var(--dl-color-default-mainorange);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame9 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.laptop-about-us {
  width: 83px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-text387 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame10 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.laptop-services {
  width: 77px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-text389 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame111 {
  gap: 36px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.laptop-projects {
  width: 73px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.laptop-text391 {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Helvetica;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.laptop-frame1221 {
  top: 0px;
  left: 32px;
  width: 288px;
  display: flex;
  padding: 0 7px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.laptop-image648732711 {
  width: 274px;
  height: 173px;
}
@media(max-width: 991px) {
  .laptop-laptop {
    align-self: flex-start;
    border-width: 991px;
  }
  .laptop-rectangle9 {
    width: 990px;
  }
}
